.chat-window {
  z-index: 9;
  position: fixed;
  bottom: 10px;
  right: 18px;
  width: 310px;
  height: 310px;
  background-color: rgba(var(--bg-primary-rgb), 0.8); /* Màu nền với độ trong suốt */
  border: 1px solid #373636;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(80px); /* Hiệu ứng mờ nền phía sau */
}

.write_chat {}


.messages {
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  height: 455px;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}


.mess_wrap_active {
  max-width: 200px;

  padding: 8px 12px;
  border-radius: 10px;
  color: var(--color-primary);;
}


.mess_wrap {
  max-width: 200px;
  background: var(--bg-forth);
  padding: 8px 12px;
  border-radius: 10px;
  color: var(--color-primary);
}

.mess_image {
  max-width: 100%; 
  width:auto;
  height: auto;
  margin-top: 5px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.mess_img_wrap {
  padding: 5px 15px;
  
}

.state_active_user_mess {
  left: 30px;
  bottom: 10px;
  position: absolute;
  height: 10px;
  width: 10px;
  background: #31A24C;
  border-radius: 80%;
  border: 1.5px solid var(--bg-primary);
}

.user_name {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.box_header_user_mess {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  border-bottom: 1px solid var(--bg-third);
  height: 47px;
  border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 backdrop-filter: blur(80px);
}

.small_circle_mess {
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.user_img_mess img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_chat img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.comment_input_wrap{
  margin-left: 10px;
  border-radius: 5px;
}