.title {
          font-size: 70px;
          color: rgb(83, 195, 223);
          font-family: 'Arial', sans-serif;
          font-weight: bold;
          text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.content {
          font-family: 'Arial', sans-serif;
          color: rgb(255, 255, 255);

}

.create_btn,
.login_bt {
          background: linear-gradient(to right, #00c6ff, #0072ff);
          /* Gradient xanh biển -> xanh lam */
          color: white;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          font-size: 16px;
          border-radius: 5px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          /* Hiệu ứng phóng to mượt */

}

.create_btn:hover {
          background-color: rgb(18, 214, 228);
          transform: scale(1.05);
          transform: scale(1.05);
          /* Phóng to nhẹ */
          box-shadow: 0 8px 15px rgba(0, 114, 255, 0.3);
          /* Hiệu ứng đổ bóng mềm */
}

.login_bt:hover {
          background-color: rgb(18, 214, 228);
          transform: scale(1.05);
          transform: scale(1.05);
          /* Phóng to nhẹ */

          box-shadow: 0 8px 15px rgba(0, 114, 255, 0.3);
          /* Hiệu ứng đổ bóng mềm */

}

.login_wrap {
          background: url('../../../public/icons/peakpx2.jpg') no-repeat center center;
          background-size: cover; /* Đảm bảo ảnh bao phủ toàn màn hình */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh; /* Toàn màn hình dọc */
           /* Toàn màn hình ngang */
        }
        

.login_1 {
          text-align: center;
          /* Căn giữa nội dung */
          margin-bottom: 20px;
          /* Khoảng cách với phần form */
}

.login_1 .title {
          font-size: 50px;
          font-weight: bold;
          background: linear-gradient(to right, #00c6ff, #0072ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          /* Tạo hiệu ứng gradient cho chữ */
      }
      

.login_1 .content {
          font-size: 16px;
          color: #606770;
}
.create_btn:active,
.login_bt:active {
  transform: scale(0.98); /* Co lại nhẹ khi nhấn */
  box-shadow: 0 4px 10px rgba(0, 114, 255, 0.2); /* Đổ bóng nhẹ hơn */
}